
@page "/"
@layout LoginLayout


@using cadenaRestaurantes.AccessControllers
@using UtilitiesRestaurante
@using Microsoft.AspNetCore.Components.Authorization
@using CurrieTechnologies.Razor.SweetAlert2

@inject HttpClient Http
@inject SweetAlertService notification;
@inject AuthenticationStateProvider autenticacionProvider
@inject NavigationManager NavigationManager

<div class="section">
	<div class="container">
		<div class="row full-height justify-content-center">
			<div class="col-12 text-center align-self-center py-5">
				<div class="section pb-5 pt-5 pt-sm-2 text-center">
					<div class="card mx-auto">					
						<div class="card-front">
							<div class="center-wrap">
								<div class="section text-center">
									<h4 class="mb-4 pb-3">Iniciar Sesión</h4>
									<div class="form-group">
                                        <input type="email" name="logemail" class="form-style" placeholder="Correo" id="logemail" autocomplete="off" @bind="login.Correo">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-at input-icon" viewBox="0 0 16 16">
                                            <path d="M13.106 7.222c0-2.967-2.249-5.032-5.482-5.032-3.35 0-5.646 2.318-5.646 5.702 0 3.493 2.235 5.708 5.762 5.708.862 0 1.689-.123 2.304-.335v-.862c-.43.199-1.354.328-2.29.328-2.926 0-4.813-1.88-4.813-4.798 0-2.844 1.921-4.881 4.594-4.881 2.735 0 4.608 1.688 4.608 4.156 0 1.682-.554 2.769-1.416 2.769-.492 0-.772-.28-.772-.76V5.206H8.923v.834h-.11c-.266-.595-.881-.964-1.6-.964-1.4 0-2.378 1.162-2.378 2.823 0 1.737.957 2.906 2.379 2.906.8 0 1.415-.39 1.709-1.087h.11c.081.67.703 1.148 1.503 1.148 1.572 0 2.57-1.415 2.57-3.643zm-7.177.704c0-1.197.54-1.907 1.456-1.907.93 0 1.524.738 1.524 1.907S8.308 9.84 7.371 9.84c-.895 0-1.442-.725-1.442-1.914" />
                                        </svg>
									</div>
									<div class="form-group mt-2">
                                        <input type="password" name="logpass" class="form-style" placeholder="Clave" id="logpass" autocomplete="off" @bind="login.Clave">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock input-icon" viewBox="0 0 16 16">
                                            <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1" />
                                        </svg>
									</div>
                                    <a href="#" class="btn mt-4" @onclick="IniciarSesion">Enviar</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
@code {
    public string Url = "/api/Account";
    public  LoginCredentials login = new LoginCredentials();

    private async Task IniciarSesion()
    {
        var loginResponse = await Http.PostAsJsonAsync<LoginCredentials>(Url, login);
        if (loginResponse.IsSuccessStatusCode)
        {
            var sesionUsuario = await loginResponse.Content.ReadFromJsonAsync<UserRequest>();
            var autenticacionExt = (AuthenticationFilter)autenticacionProvider;
            await autenticacionExt.UpdateAuthenticationState(sesionUsuario);

            NavigationManager.NavigateTo("/Home");
        }
        else
        {
            await notification.FireAsync(new SweetAlertOptions
            {
                Title = "Inicio de Sesión Denegado",
                Text = "Usario o contraseña incorrecto, cuenta no encontrada o inactiva",
                Icon = SweetAlertIcon.Error,
            });
        }
    }
}

<style>

    body {
        font-weight: 300;
        font-size: 15px;
        line-height: 1.7;
        color: #c4c3ca;
        background-color: #1f2029;
        overflow-x: hidden;
    }

    a {
        cursor: pointer;
        transition: all 200ms linear;
    }

        a:hover {
            text-decoration: none;
        }

    p {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.7;
    }

    h4 {
        font-weight: 600;
    }



    .section {
        position: relative;
        width: 100%;
        display: block;
    }

    .full-height {
        min-height: 100vh;
    }

    .card {
        position: relative;
        width: 440px;
        max-width: 100%;
        height: 400px;
        perspective: 800px;
        margin-top: 60px;
    }

    .card-front {
        width: 100%;
        height: 100%;
        background-color: #2a2b38;
        background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
        background-position: bottom center;
        background-repeat: no-repeat;
        background-size: 300%;
        position: absolute;
        border-radius: 6px;
        left: 0;
        top: 0;
    }

    .center-wrap {
        position: absolute;
        width: 100%;
        padding: 0 35px;
        top: 50%;
        left: 0;
        transform: translate3d(0, -50%, 35px) perspective(100px);
        z-index: 20;
        display: block;
    }


    .form-group {
        position: relative;
        display: block;
        margin: 0;
        padding: 0;
    }

    .form-style {
        padding: 13px 20px;
        padding-left: 55px;
        height: 48px;
        width: 100%;
        font-weight: 500;
        border-radius: 4px;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.5px;
        outline: none;
        color: #c4c3ca;
        background-color: #1f2029;
        border: none;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
        box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    }

        .form-style:focus,
        .form-style:active {
            border: none;
            outline: none;
            box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
        }

    .input-icon {
        position: absolute;
        top: 0;
        left: 18px;
        height: 48px;
        font-size: 24px;
        line-height: 48px;
        text-align: left;
        color: #ffeba7;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .btn {
        border-radius: 4px;
        height: 44px;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        transition: all 200ms linear;
        padding: 0 30px;
        letter-spacing: 1px;
        display: inline-flex;
        align-items: center; 
        justify-content: center;
        text-align: center;
        border: none;
        background-color: #ffeba7;
        color: #102770;
        box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
    }

        .btn:active,
        .btn:focus {
            background-color: #102770;
            color: #ffeba7;
            box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
        }

        .btn:hover {
            background-color: #102770;
            color: #ffeba7;
            box-shadow: 0 8px 24px 0 rgba(16,39,112,.2);
        }

</style>