@page "/VentanaEmergente/{Cedula}"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Security.Claims
@using UtilitiesRestaurante
@using CurrieTechnologies.Razor.SweetAlert2
@using cadenaRestaurantes.AccessControllers
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize(Roles = "Superadmin")]

@inject SweetAlertService notification;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="row text-center mb-5">
    <h3>Cambiar Contraseña</h3>
</div>
<div class="row justify-content-center">
    <form>
        <div class="form-group row justify-content-center mb-3">
            <label for="colFormLabelSm" class="col-5 col-form-label col-form-label-sm text-center fw-bold">Contraseña Actual: </label>
            <div class="col-5 pe-5">
                <input type="password" class="form-control form-control-sm" id="colFormLabelSm" @bind="obj.claveActual">
            </div>
        </div>
        <div class="form-group row justify-content-center mb-3">
            <label for="colFormLabelSm" class="col-5 col-form-label col-form-label-sm text-center fw-bold">Nueva Contraseña: </label>
            <div class="col-5 pe-5">
                <input type="password" class="form-control form-control-sm" id="colFormLabelSm" @bind="obj.claveNueva">
            </div>
        </div>
        <div class="form-group row  mb-5 justify-content-center mb-3">
            <label for="colFormLabelSm" class="col-5 col-form-label col-form-label-sm text-center fw-bold">Confirmar Contraseña: </label>
            <div class="col-5 pe-5">
                <input type="password" class="form-control form-control-sm " id="colFormLabelSm" @bind="validacion">
            </div>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-warning fw-bold" @onclick="Save">Guardar Cambios</button>
        </div>
    </form>

</div>

@code {

    [Parameter]
    public string? Cedula { get; set; }



    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    string validacion = string.Empty;

    public string Url = "/api/Account";

    public PasswordRequest obj = new PasswordRequest();
    RequestResponse<object>? PlainOutput = new RequestResponse<object>();


    private async Task Save()
    {
        var msj = "Las Claves ingresadas no coinciden";
        if(obj.claveNueva == validacion)
        {

            var updateRequest = await Http.PutAsJsonAsync<PasswordRequest>($"{Url}/{Cedula}", obj);
            PlainOutput = updateRequest.Content.ReadFromJsonAsync<RequestResponse<object>>().Result;

            if (PlainOutput != null && PlainOutput.Success == 1)
            {
                await notification.FireAsync(new SweetAlertOptions
                {
                    Title = "Cambio de Clave Exitoso",
                    Text = "El cambio de clave se realizó correctamente",
                    Icon = SweetAlertIcon.Success,
                });
            }

            msj = "La Clave Actual no coincide";          

        }

        
        if(PlainOutput != null && PlainOutput.Success == 0)
        {
            await notification.FireAsync(new SweetAlertOptions
            {
                    Title = "Cambio de Clave No Exitoso",
                    Text = msj,
                    Icon = SweetAlertIcon.Error,
            });
            
        }

    }
}
