@page "/VentanaEmergente/{Cedula}"

@using System.Net.Http
@using System.Net.Http.Json
@using System.Security.Claims
@using UtilitiesRestaurante
@using CurrieTechnologies.Razor.SweetAlert2
@using cadenaRestaurantes.AccessControllers
@using Microsoft.AspNetCore.Authorization;
@using Microsoft.AspNetCore.Components.Authorization;
@attribute [Authorize(Roles = "Superadmin")]

@inject SweetAlertService validation;
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="row text-center mb-5">
    <h3>Cambiar Contraseña</h3>
</div>
<div class="row justify-content-center">
    <form>
        <div class="form-group row justify-content-center mb-3">
            <label for="colFormLabelSm" class="col-5 col-form-label col-form-label-sm text-center">Contraseña Actual: </label>
            <div class="col-5 pe-5">
                <input type="password" class="form-control form-control-sm" id="colFormLabelSm" @bind="obj.claveActual">
            </div>
        </div>
        <div class="form-group row justify-content-center mb-3">
            <label for="colFormLabelSm" class="col-5 col-form-label col-form-label-sm text-center">Nueva Contraseña: </label>
            <div class="col-5 pe-5">
                <input type="password" class="form-control form-control-sm" id="colFormLabelSm" @bind="obj.claveNueva">
                <small id="passwordHelpBlock" class="form-text text-muted w-100">
                    8-20 characters long
                </small>
            </div>
        </div>
        <div class="form-group row  mb-5 justify-content-center mb-3">
            <label for="colFormLabelSm" class="col-5 col-form-label col-form-label-sm text-center ">Confirmar Contraseña: </label>
            <div class="col-5 pe-5">
                <input type="password" class="form-control form-control-sm " id="colFormLabelSm" @bind="validacion">
            </div>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-warning font-weight-bold" @onclick="Save">Guardar Cambios</button>
        </div>
    </form>

</div>

@code {

    [Parameter]
    public string Cedula { get; set; }



    [CascadingParameter]
    BlazoredModalInstance BlazoredModal { get; set; } = default!;

    string validacion;

    public string Url = "/api/Account";

    public PasswordRequest obj = new PasswordRequest();
    RequestResponse<object> PlainOutput = new RequestResponse<object>();


    private async Task Save()
    {
        if(obj.claveNueva == validacion)
        {
            // var UrlWithParam = $"{Url}/{Cedula}";

            var updateRequest = await Http.PutAsJsonAsync<PasswordRequest>($"{Url}/{Cedula}", obj);
            PlainOutput = updateRequest.Content.ReadFromJsonAsync<RequestResponse<object>>().Result;
        }

    }
}
